body {
    margin: 0px;
    text-align: center;
    font-family: merriweather, serif;
}

h1 {
    margin-top: 50px;
    font-family: 'Teko', serif;
    font-size: 5.625rem;
    color: #53165c;
    line-height: 2%;
}

h2 {
    font-family: merriweather, sans-serif;
    font-size: 2.5rem;
    color: #57033c;
    font-weight: normal;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    padding-bottom: 5px;
}

.mypic {
    width: 350px;
    height: 350px;
}

.up {
    position: absolute;
    top: 300px;
    left: 1100px;
}

.above {
    position: absolute;
    top: 50px;
    left: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding: 10px;
}

.Sk {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.SR {
    width: 25%;
    float: right;
    margin-left: 30px;
}

p {
    color: #40514E;
}

h3 {
    color: #370b3e
}

hr {
    border: dotted #d4eaea 6px;
    width: 4%;
    border-bottom: none;
}

.contact-me {
    line-height: 45px;
    margin-bottom: 100px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #11cdd4 ##11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, ##11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 8;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
}

.footer-link {
    margin: 10px 10px;
    text-decoration: none;
}

.amo {
    padding-top: 30px;
}

.footer-link:hover {
    color: #7b1d6c;
}

.middle-container { 
    margin: 100px 0
}

.skills {}